---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.archive__item-datetime {
	font-size: 0.8em !important;
	margin-top: 4em !important;
	margin-bottom: 0 !important;
/*	text-decoration: overline;*/
	border-top: 1px solid $text-color;
	text-align: left;
	font-style: italic
}

.latest_in {
	margin: 3em 0;

}

.latest_in .archive__item-datetime {
	margin-top: 2em !important;
}

.archive__item-title {
	margin-top: 0 !important;
}




/*
 .layout--single {
	margin: 0 !important;
}
html {
	height: 100vh !important;
}
*/


/*sets body height to max; and allows scrollbar as page content grows*/
body{
	overflow: auto;
}
